{% extends "base.html.twig" %}
{% block title %}Gafouni-first-blog{% endblock %}
{% block content %}

 <div class="post-preview">
   <h2 class="post-title">Bienvenu dans l'aventure!</h2>
 </div>  

{% for post in posts %}
<div>{{post.title}} a ete ecrit par {{post.author}}, le {{post.date|date("d/m/Y")}}, publie par {{post.user.first_name}}</div>

{% endfor %}






{% endblock %}